@charset "UTF-8";
@font-face {
  font-family: "GeorgiaRegular";
  src: url("../fonts/GeorgiaRegular/GeorgiaRegular.eot");
  src: url("../fonts/GeorgiaRegular/GeorgiaRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/GeorgiaRegular/GeorgiaRegular.woff") format("woff"), url("../fonts/GeorgiaRegular/GeorgiaRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "GeorgiaBold";
  src: url("../fonts/GeorgiaBold/GeorgiaBold.eot");
  src: url("../fonts/GeorgiaBold/GeorgiaBold.eot?#iefix") format("embedded-opentype"), url("../fonts/GeorgiaBold/GeorgiaBold.woff") format("woff"), url("../fonts/GeorgiaBold/GeorgiaBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "GeorgiaItalic";
  src: url("../fonts/GeorgiaItalic/GeorgiaItalic.eot");
  src: url("../fonts/GeorgiaItalic/GeorgiaItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GeorgiaItalic/GeorgiaItalic.woff") format("woff"), url("../fonts/GeorgiaItalic/GeorgiaItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "GeorgiaBoldItalic";
  src: url("../fonts/GeorgiaBoldItalic/GeorgiaBoldItalic.eot");
  src: url("../fonts/GeorgiaBoldItalic/GeorgiaBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GeorgiaBoldItalic/GeorgiaBoldItalic.woff") format("woff"), url("../fonts/GeorgiaBoldItalic/GeorgiaBoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: "ArialRegular";
  src: url("../fonts/ArialRegular/ArialRegular.eot");
  src: url("../fonts/ArialRegular/ArialRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/ArialRegular/ArialRegular.woff") format("woff"), url("../fonts/ArialRegular/ArialRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "ArialBold";
  src: url("../fonts/ArialBold/ArialBold.eot");
  src: url("../fonts/ArialBold/ArialBold.eot?#iefix") format("embedded-opentype"), url("../fonts/ArialBold/ArialBold.woff") format("woff"), url("../fonts/ArialBold/ArialBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "ArialItalic";
  src: url("../fonts/ArialItalic/ArialItalic.eot");
  src: url("../fonts/ArialItalic/ArialItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/ArialItalic/ArialItalic.woff") format("woff"), url("../fonts/ArialItalic/ArialItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "ArialBoldItalic";
  src: url("../fonts/ArialBoldItalic/ArialBoldItalic.eot");
  src: url("../fonts/ArialBoldItalic/ArialBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/ArialBoldItalic/ArialBoldItalic.woff") format("woff"), url("../fonts/ArialBoldItalic/ArialBoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 700;
}
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: auto;
}

._lock {
  overflow: hidden;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}
.header {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 5;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
}
@media (min-width: 320px) and (max-width: 767px) {
  .menu {
    margin: 30px 0;
    padding: 0 53px 0 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.menu__logo {
  z-index: 5;
}
.menu__burger {
  display: none;
}
@media (min-width: 320px) and (max-width: 767px) {
  .menu__burger {
    display: block;
    z-index: 5;
    position: relative;
    width: 30px;
    height: 22px;
    cursor: pointer;
  }
  .menu__burger::before, .menu__burger::after, .menu__burger-button {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: black;
  }
  .menu__burger::before, .menu__burger::after {
    content: "";
  }
  .menu__burger::before {
    top: 0;
  }
  .menu__burger::after {
    bottom: 0;
  }
  .menu__burger-button {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .menu ._rotato {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .menu ._color-burger::before, .menu ._color-burger::after {
    background: #f1cdb3;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .menu ._color-logo {
    color: #f1cdb3;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .menu ._color-sublogo {
    color: #ffffff;
  }
}
.menu__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 40px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .menu__left {
    margin-left: 30px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .menu__left {
    margin-left: 0;
  }
}
.menu__logo-title {
  font-family: "GeorgiaRegular";
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 2px;
  color: #545454;
}
.menu__logo-subtitle {
  font-family: "ArialRegular";
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1.3px;
  color: #292929;
  margin-top: 10px;
  margin-left: 5px;
}
.menu__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .menu__right {
    margin-right: 30px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .menu__right {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: #292929;
    padding: 25px 0px 30px 0px;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
    z-index: 4;
  }
  .menu__right::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 90px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .menu ._active {
    left: 0;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 320px) and (max-width: 767px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.menu__item {
  padding-left: 36px;
  margin-top: -5px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .menu__item {
    margin: 0 0 30px 0;
    padding-left: 0;
  }
}
.menu__item-link {
  font-family: "ArialRegular";
  font-size: 15px;
  line-height: 160%;
  color: #545454;
}
@media (min-width: 320px) and (max-width: 767px) {
  .menu__item-link {
    font-size: 32px;
    line-height: 62px;
    color: #cdcdcd;
  }
}
.menu__item-link:hover {
  font-family: "ArialRegular";
  font-size: 15px;
  line-height: 160%;
  color: #292929;
}
@media (min-width: 320px) and (max-width: 767px) {
  .menu__item-link:hover {
    font-size: 32px;
    line-height: 62px;
    color: #fafafa;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .menu__item-link:active {
    font-size: 32px;
    line-height: 62px;
    border-bottom: 2px solid #F1CDB3;
    padding-bottom: 2px;
  }
}
.menu__item-link:active {
  border-bottom: 2px solid #F1CDB3;
  padding-bottom: 2px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .menu__item-link:active {
    font-size: 32px;
    line-height: 62px;
  }
}

.burger-inner {
  display: none;
}

@media (min-width: 320px) and (max-width: 767px) {
  .burger-inner {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background-color: rgba(41, 41, 41, 0.6);
    cursor: normal;
    z-index: 5;
  }
  .burger-inner__comeback {
    background-color: #000;
    opacity: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
  }
  .burger-inner__container {
    width: 320px;
    height: 100%;
    background: #292929;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .burger-inner__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 0px 0px 10px;
  }
  .burger-inner__logo-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .burger-inner__logo-container-title {
    color: #f1cdb3;
    font-family: "GeorgiaRegular";
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 2px;
  }
  .burger-inner__logo-container-subtitle {
    color: #ffffff;
    font-family: "ArialRegular";
    font-size: 13px;
    letter-spacing: 1.3px;
    margin-top: 9px;
    font-weight: normal;
    opacity: 0.9;
    margin-left: 5px;
  }
  .burger-inner__burger-container {
    display: block;
    z-index: 5;
    position: relative;
    width: 30px;
    height: 22px;
    margin-right: 53px;
    cursor: pointer;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .burger-inner__burger-container::before, .burger-inner__burger-container::after, .burger-inner__burger-container-button {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #f1cdb3;
  }
  .burger-inner__burger-container::before, .burger-inner__burger-container::after {
    content: "";
  }
  .burger-inner__burger-container::before {
    top: 0;
  }
  .burger-inner__burger-container::after {
    bottom: 0;
  }
  .burger-inner__burger-container-button {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .burger-inner__contant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 152px;
  }
  .burger-inner__menu {
    text-align: center;
  }
  .burger-inner__menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
  }
  .burger-inner__menu-link {
    font-size: 32px;
    line-height: 62px;
    font-family: "ArialRegular";
    font-weight: 400;
    color: #cdcdcd;
    text-align: center;
  }
  .burger-inner__menu-link:hover {
    color: #fafafa;
  }
  .burger-inner__menu-link:active {
    border-bottom: 3px solid #F1CDB3;
    padding-bottom: 2px;
  }
}
@-webkit-keyframes rotateBurgerMenuOpen {
  to {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}
@keyframes rotateBurgerMenuOpen {
  to {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}
@-webkit-keyframes rotateBurgerMenuClose {
  to {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
@keyframes rotateBurgerMenuClose {
  to {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
._rotatoOpen {
  -webkit-animation: "rotateBurgerMenuOpen" 0.1s ease-out;
          animation: "rotateBurgerMenuOpen" 0.1s ease-out;
}

._rotatoClose {
  -webkit-animation: "rotateBurgerMenuClose" 0.3s ease-out;
          animation: "rotateBurgerMenuClose" 0.3s ease-out;
}

@-webkit-keyframes showBurgerMenu {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes showBurgerMenu {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
._showBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

._active {
  -webkit-animation: "showBurgerMenu" 0.7s forwards;
          animation: "showBurgerMenu" 0.7s forwards;
}

.item-ourpets {
  border-bottom: 2px solid #F1CDB3;
  padding-bottom: 2px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .item-ourpets {
    padding-bottom: 5px;
  }
}

.pets {
  background-color: #F6F6F6;
}
.pets__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 80px auto 100px;
  position: relative;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .pets__content {
    margin: 85px auto 75px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .pets__content {
    margin: 40px auto 42px;
    max-width: 767px;
  }
}
.pets__heading-text {
  font-family: "GeorgiaRegular";
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  max-width: 400px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .pets__heading-text {
    margin-top: 0;
    line-height: 40px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .pets__heading-text {
    font-size: 25px;
    line-height: 130%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
.pets__cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 60px 40px;
  row-gap: 30px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .pets__cards-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    gap: 30px 40px;
    margin-top: 35px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .pets__cards-container {
    padding: 42px 40px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
.pets__button {
  margin: 0 -5px;
}

.pets-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 270px;
  height: 435px;
  background-color: #fff;
  border-radius: 9px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .pets-box {
    margin-top: 0;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .pets-box {
    margin: 0 5px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .pets-box:nth-child(4) {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .pets-box:nth-child(5) {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .pets-box:nth-child(6) {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .pets-box:nth-child(7) {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .pets-box:nth-child(7) {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .pets-box:nth-child(8) {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .pets-box:nth-child(8) {
    display: none;
  }
}
.pets-box__description-text {
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pets-box__pets-name {
  font-family: "GeorgiaRegular";
  font-size: 20px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 1.4px;
  text-align: center;
}
.pets-box__learn-more-button {
  margin-top: 30px;
  height: 53px;
  width: 193px;
  border: 2px solid #f1cdb3;
  background-color: #fafafa;
  border-radius: 100px;
  padding: 16px 45px 16px 45px;
  text-align: center;
  font-family: "GeorgiaRegular";
  font-size: 17px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.9px;
  cursor: pointer;
}
.pets-box:hover {
  cursor: pointer;
}
.pets-box:hover .pets-box__description-text {
  background-color: #fff;
}
.pets-box:hover .pets-box__learn-more-button {
  background-color: #fddcc4;
  border-color: #fddcc4;
}

.my-style-pagination {
  margin-top: 200px;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  color: #fafafa;
  background-color: black;
}

.pets-popup {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
  overflow: hidden;
  background-color: rgba(41, 41, 41, 0.6);
}
.pets-popup__frame {
  position: relative;
  width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fafafa;
  z-index: 5;
  cursor: default;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .pets-popup__frame {
    width: 630px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .pets-popup__frame {
    width: 240px;
  }
}
.pets-popup__close-button {
  position: absolute;
  left: 100%;
  bottom: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100px;
  border: 2px solid #f1cdb3;
  width: 52px;
  height: 52px;
  background-color: transparent;
  cursor: pointer;
}
.pets-popup__close-button:hover {
  background-color: #f1cdb3;
}
.pets-popup__popup-block {
  left: 0%;
  right: 44.44%;
  top: 0%;
  bottom: 0%;
}
.pets-popup__img-container {
  width: 500px;
  height: 500px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .pets-popup__img-container {
    height: 350px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .pets-popup__img-container {
    display: none;
  }
}
.pets-popup__img {
  width: 100%;
  height: 100%;
}
.pets-popup__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
}
.pets-popup__article-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 40px;
  margin: 50px 20px 68px 29px;
  height: 100%;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .pets-popup__article-content {
    margin: 10px 9px 37px 11px;
    row-gap: 20px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .pets-popup__article-content {
    margin: 10px 10px 10px 10px;
    row-gap: 20px;
  }
}
.pets-popup__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}
.pets-popup__heading-name {
  font-family: "GeorgiaRegular";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #000000;
}
@media (min-width: 320px) and (max-width: 767px) {
  .pets-popup__heading-name {
    text-align: center;
  }
}
.pets-popup__heading-subname {
  font-family: "GeorgiaRegular";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #000000;
}
@media (min-width: 320px) and (max-width: 767px) {
  .pets-popup__heading-subname {
    text-align: center;
    line-height: 90%;
  }
}
.pets-popup__description-text {
  font-family: "GeorgiaRegular";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #000000;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .pets-popup__description-text {
    font-size: 13px;
    line-height: 110%;
    height: 96px;
    width: 261px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .pets-popup__description-text {
    font-size: 13px;
    line-height: 108%;
    text-align: justify;
    margin-top: 4px;
  }
}
.pets-popup__data {
  margin-left: 0px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .pets-popup__data {
    margin-top: 3px;
  }
}
.pets-popup__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 12px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .pets-popup__list {
    row-gap: 7px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .pets-popup__list {
    row-gap: 6px;
  }
}
.pets-popup__item {
  font-family: "GeorgiaRegular";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.09em;
  color: #000000;
}
.pets-popup__item::before {
  content: "•";
  display: inline-block;
  width: 4px;
  height: 4px;
  color: #f1cdb3;
  padding-right: 15px;
}