
@font-face { 
    font-family: "GeorgiaRegular";
    src: url("../fonts/GeorgiaRegular/GeorgiaRegular.eot");
    src: url("../fonts/GeorgiaRegular/GeorgiaRegular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GeorgiaRegular/GeorgiaRegular.woff") format("woff"),
    url("../fonts/GeorgiaRegular/GeorgiaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face { 
    font-family: "GeorgiaBold";
    src: url("../fonts/GeorgiaBold/GeorgiaBold.eot");
    src: url("../fonts/GeorgiaBold/GeorgiaBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GeorgiaBold/GeorgiaBold.woff") format("woff"),
    url("../fonts/GeorgiaBold/GeorgiaBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face { 
    font-family: "GeorgiaItalic";
    src: url("../fonts/GeorgiaItalic/GeorgiaItalic.eot");
    src: url("../fonts/GeorgiaItalic/GeorgiaItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GeorgiaItalic/GeorgiaItalic.woff") format("woff"),
    url("../fonts/GeorgiaItalic/GeorgiaItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
}

@font-face { 
    font-family: "GeorgiaBoldItalic";
    src: url("../fonts/GeorgiaBoldItalic/GeorgiaBoldItalic.eot");
    src: url("../fonts/GeorgiaBoldItalic/GeorgiaBoldItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GeorgiaBoldItalic/GeorgiaBoldItalic.woff") format("woff"),
    url("../fonts/GeorgiaBoldItalic/GeorgiaBoldItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 700;
}

@font-face { 
    font-family: "ArialRegular";
    src: url("../fonts/ArialRegular/ArialRegular.eot");
    src: url("../fonts/ArialRegular/ArialRegular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ArialRegular/ArialRegular.woff") format("woff"),
    url("../fonts/ArialRegular/ArialRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face { 
    font-family: "ArialBold";
    src: url("../fonts/ArialBold/ArialBold.eot");
    src: url("../fonts/ArialBold/ArialBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ArialBold/ArialBold.woff") format("woff"),
    url("../fonts/ArialBold/ArialBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face { 
    font-family: "ArialItalic";
    src: url("../fonts/ArialItalic/ArialItalic.eot");
    src: url("../fonts/ArialItalic/ArialItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ArialItalic/ArialItalic.woff") format("woff"),
    url("../fonts/ArialItalic/ArialItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
}

@font-face { 
    font-family: "ArialBoldItalic";
    src: url("../fonts/ArialBoldItalic/ArialBoldItalic.eot");
    src: url("../fonts/ArialBoldItalic/ArialBoldItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ArialBoldItalic/ArialBoldItalic.woff") format("woff"),
    url("../fonts/ArialBoldItalic/ArialBoldItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 700;
}