.footer {
    background-image: url(../img/Footer.png);
    background-size: cover;
    @media (min-width: 768px) and (max-width: 1279px) {
        background-image: url(../img/footer-gradient-background768.png);
    }
    @media (min-width: 320px) and (max-width: 767px) {
        background-image: url(../img/footer-gradient-background.png);
    }

	&__content {
        display: flex;
        justify-content: space-between;
        padding: 0 40px;
        margin-top: 35px;
        @media (min-width: 768px) and (max-width: 1279px) {
            justify-content: center;
            flex-wrap: wrap;
            gap: 60px 60px;
            padding: 0;
            margin-top: 10px;
        }
        @media (min-width: 320px) and (max-width: 767px) {
            flex-direction: column;
            align-items: center;
            margin-top: 30px;
            padding: 0;
        }

	}
	&__content-contacts {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 280px;
        height: 234px;
        margin-top: 20px;
        @media (min-width: 320px) and (max-width: 767px) {
            margin-top: 0px;
            height: 210px;
        }
	}

	&__contacts-title-text {
        font-family: "GeorgiaRegular";
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        @media (min-width: 320px) and (max-width: 767px) {
            font-size: 25px;
            text-align: center;
            padding: 0 10px;
        }
	}
	&__contacts {

	}
	&__contacts-email {
        display: flex;
        align-items: center;
        @media (min-width: 320px) and (max-width: 767px) {
            justify-content: center;
            max-width: 251px;
            margin: 0 auto;
        }
    
	}
	&__email-icon-link {
	}
	&__email-icon {
	}
	&__email-text-link {
        font-family: "GeorgiaRegular";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: #F1CDB3;
        margin-left: 20px;
	}
	&__conatacts-number {
        display: flex; 
        @media (min-width: 320px) and (max-width: 767px) {
            justify-content: center;
            max-width: 251px;
            margin: 0 auto;
        }
	}
	&__number-icon-link {
	}
	&__number-icon {
	}
	&__number-text-link {
        font-family: "GeorgiaRegular";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: #F1CDB3;
        margin-left: 20px;
        @media (min-width: 320px) and (max-width: 767px) {
            margin-left: 20px;
            line-height: 140%;
        }
	}

	&__content-location {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 302px;
        height: 234px;
        margin-top: 20px;
        @media (min-width: 320px) and (max-width: 767px) {
            margin-top: 40px;
            height: 222px;
        }
	}
	&__location-title-text {
        font-family: "GeorgiaRegular";
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        @media (min-width: 320px) and (max-width: 767px) {
            font-size: 25px;
            text-align: center;
            padding: 0 10px;
        }
	}
	&__location {
	}
	&__location-adress {
        display: flex;
        align-items: center;
        @media (min-width: 320px) and (max-width: 767px) {
            align-items: center;
        }    
	}
	&__adress-icon-link {
	}
	&__adress-icon {
	}
	&__adress-text-link {
        font-family: "GeorgiaRegular";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: #F1CDB3;
        margin-left: 20px;
	}
	&__content-puppy {
        @media (min-width: 320px) and (max-width: 767px) {
            margin-top: 40px;
        } 
	}
	&__puppy-img {
        @media (min-width: 320px) and (max-width: 767px) {
            width: 260px;
            height: 269px;
        } 
	}
}


    // &__content {
    //     display: flex;
    //     justify-content: space-between;
    //     margin-top: 40px;
    //     @media (min-width: 768px) and (max-width: 1279px) {
    //         justify-content: center;
    //         flex-wrap: wrap;
    //         margin-top: 15px;
    //         gap: 65px 65px;
    //     }
    //     @media (min-width: 320px) and (max-width: 767px) {
    //         flex-direction: column;
    //         width: 300px;
    //         margin: 0 auto;
    //         align-items: center;
    //     }
    // }

    // &__content-contact {
    //     max-width: 280px;
    //     height: 234px;
    //     margin-top: 16px;
    //     margin-left: 40px;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: space-between;
    //     align-items: space-between;
    //     @media (min-width: 768px) and (max-width: 1279px) {
    //         margin-top: 15px;
    //         margin-left: 0;
    //         text-align: center;
    //     }
    //     @media (min-width: 320px) and (max-width: 767px) {
    //         text-align: center;
    //         margin: 0;

    //     }
    // }

    // &__contact-title {
    //     height: 90px;
    //     font-family: "GeorgiaRegular";
    //     font-weight: 400;
    //     font-size: 35px;
    //     line-height: 138%;
    //     letter-spacing: 2px;
    //     color: rgba(255, 255, 255, 1);
    //     @media (min-width: 768px) and (max-width: 1279px) {
    //         line-height: 130%;
    //         letter-spacing: 0.06em;
    //     }
    //     @media (min-width: 320px) and (max-width: 767px) {
    //         font-size: 25px;
    //         line-height: 130%;
    //         letter-spacing: 0.06em;
    //         padding-top: 32px;
    //     }
    // }

    // &__content-info {
    //     display: flex;
    //     @media (min-width: 320px) and (max-width: 767px) {
    //         align-items: center;
    //         justify-content: space-around;
    //     }
    // }
    
    // &__email-link {
    //     margin-right: 20px;
    //     @media (min-width: 320px) and (max-width: 767px) {
    //         margin-right: 10px;
    //     } 
    // }

  
    // &__info-icon {
    //     @media (min-width: 320px) and (max-width: 767px) {
    //         margin-top: 2px;
    //     } 
    // }


    // &__info-text {
    //     height: 23px;
    //     font-family: "GeorgiaRegular";
    //     font-weight: 400;
    //     font-size: 20px;
    //     line-height: 168%;
    //     letter-spacing: 0.06em;
    //     color: #F1CDB3;
    //     @media (min-width: 320px) and (max-width: 767px) {
    //         font-size: 20px;
    //         line-height: 125%;
    //         letter-spacing: 0.06em;
    //         // padding-left: 20px;
    //     }
    // }

    // &__number-link{
    //     margin-right: 20px;
    // }

    // &__content-location {
    //     max-width: 302px;
    //     height: 234px;
    //     margin-top: 16px;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: space-between;
    //     align-items: space-between;
    //     @media (min-width: 768px) and (max-width: 1279px) {
    //         margin-top: 15px;
    //         margin-left: 0;
    //     }
    //     @media (min-width: 320px) and (max-width: 767px) {
    //         text-align: center;
    //         margin: 0;
    //         align-items: center;
    //     }
        
    // }

    // &__location-title {
    //     height: 90px;
    //     font-family: "GeorgiaRegular";
    //     font-weight: 400;
    //     font-size: 35px;
    //     line-height: 130%;
    //     letter-spacing: 0.06em;
    //     color: rgba(255, 255, 255, 1);
    //     @media (min-width: 768px) and (max-width: 1279px) {
    //         line-height: 130%;
    //         letter-spacing: 0.06em;
    //     }
    //     @media (min-width: 320px) and (max-width: 767px) {
    //         font-size: 25px;
    //         line-height: 130%;
    //         letter-spacing: 0.06em;
    //     }
    // }

    // &__location-adress {
    //     display: flex;
    //     align-items: center;
    // }

    // &__adress-icon-marker {
    //     margin-right: 20px;
    // }

    // &__adress-text1 {
    //     font-family: "GeorgiaRegular";
    //     font-weight: 400;
    //     font-size: 20px;
    //     line-height: 111%;
    //     letter-spacing: 0.06em;
    //     color: #F1CDB3;
    //     margin-left: 19px;
    // }

    // &__adress-text2 {
    //     font-family: "GeorgiaRegular";
    //     font-weight: 400;
    //     font-size: 20px;
    //     line-height: 120%;
    //     letter-spacing: 0.06em;
    //     color: #F1CDB3;
    // }

    // &__content-puppy {
    //     margin-right: 40px;
    //     @media (min-width: 768px) and (max-width: 1279px) {
    //         margin-right: 0;
    //     }
    // }
    
